import React from 'react';

import { Head } from '@sharedComponents';
import strings from '@localization/{{camelCase name}}.locale';

import './{{pascalCase name}}.style.scss';

const {{pascalCase name}} = () => {
  return (
    <>
      <Head>
        <title>{strings.Title}</title>
      </Head>
      <div className='{{camelCase name}}'>
        <h1>{strings.Title}</h1>
      </div>
    </>
  );
};

export default {{pascalCase name}};
